h2 {
    width: 120%;
    letter-spacing: -0.04em;
    line-height: 80%;
    font-family: 
        'Franklin Gothic Demi',
        'Franklin Gothic',
        Arial,
        'BIZ UDPGothic',
        'Hiragino Sans',
        sans-serif;
    color: rgb(160, 160, 160);
}
    
#bookmarks {
    width: 100%;
    line-height: 140%;
    font-size: small;
    font-stretch: condensed;
    font-family: 
        'Arial Narrow',
        Arial,
        'BIZ UDPGothic',
        'Hiragino Sans',
        sans-serif;
}
a[href^="http://"] {
    color: rgb(225, 180, 180);
}
a[href^="https://"] {
    color: rgb(225, 225, 225);
}
.td01 {
    background-color: rgb(18, 120, 175); 
}
.td02 {
    background-color: rgb(116, 148, 10);
}

